<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommand Card</title>
    <link
      rel="preload"
      as="font"
      href="/font/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendard/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="recommand-card">
      <ul class="flex gap-4">
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-01.webp"
                alt="남성 추천 상품"
              />
            </a>
            <figcaption>남성추천</figcaption>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-02.webp"
                alt="여성 추천 상품"
              />
              <figcaption>여성추천</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-03.webp"
                alt="색다른 추천 상품"
              />
              <figcaption>색다른 추천</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-04.webp"
                alt="정가보다 저렴한 상품"
              />
              <figcaption>정가 아래</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-05.webp"
                alt="트루릴리전, 소버 콜라보"
              />
              <figcaption>트루릴리전 X 소버</figcaption>
            </a>
          </figure>
        </li>
      </ul>
      <ul class="flex gap-4">
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-06.webp"
                alt="구해요 상품"
              />
              <figcaption>구해요</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-07.webp"
                alt="Kream 카드 상품"
              />
              <figcaption>KREAM 카드</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-08.webp"
                alt="봄 출근룩 상품"
              />
              <figcaption>봄 출근룩</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-09.webp"
                alt="인기있는 일본 브랜드 상품"
              />
              <figcaption>인기 일본 브랜드</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure class="figure-card">
            <a href="/">
              <img
                class="img-card"
                src="/src/assets/kream/recommand/webp/recommand-product-10.webp"
                alt="이유 있는 베스트 상품"
              />
              <figcaption>이유 있는 베스트</figcaption>
            </a>
          </figure>
        </li>
      </ul>
    </div>
  </body>
</html>
